@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

.btn:focus, .form-control {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  outline: none;
  border-color: #eee !important;
}

.btn {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8cc63e;
  border: 0.5px solid #ffde15;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main-color {
  color: #8cc63e;
}

.second-color {
  color: #ffde15;
}

.third-color {
  color: #fcb040;
}

.mobile-nav {
  display: none;
}

nav {
  background-color: #fff;
}

nav .top-nav {
  padding: 10px 50px;
  border-bottom: 1px solid #f8f8f8;
}

nav .top-nav a {
  color: #827c7c;
  font-family: "Harmattan", sans-serif;
  font-size: 23px;
}

nav .main-nav {
  padding: 0 50px;
}

nav .main-nav .logo img {
  width: 100px;
  height: 100px;
}

nav .main-nav .main-nav-links {
  width: 60%;
}

nav .main-nav .main-nav-links li a {
  color: #333;
  font-size: 20px;
  font-family: "Amiri", serif;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

nav .main-nav .main-nav-links li a:hover {
  color: #8cc63e;
}

nav i {
  font-size: 16px;
  padding: 0 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

nav i:hover {
  color: #8cc63e;
}

.home-img {
  position: relative;
}

.home-img img {
  height: 500px;
}

.home-img .home-text {
  text-align: center;
  font-family: "Amiri", serif;
  position: absolute;
  top: 95px;
  right: 85px;
  font-size: 39px;
  color: #ffde15;
  max-width: 600px;
}

.home-img .home-text span {
  color: #fcb040;
}

.second-home-section h2 {
  font-family: "Amiri", serif;
  font-size: 40px;
  margin-bottom: 18px;
}

.second-home-section h5 {
  font-size: 21px;
  color: #fcb040;
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: "Amiri", serif;
}

.second-home-section p {
  font-family: "Harmattan", sans-serif;
  font-size: 17px;
}

.second-home-section .about-img {
  width: 80%;
}

.about-college img {
  width: 100%;
  height: 250px;
  -webkit-transition: .6s;
  transition: .6s;
}

.about-college img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about-college .col-md-3 {
  padding: 0;
  overflow: hidden;
}

.about-college p {
  padding: 10px;
  font-family: "Harmattan", sans-serif;
  font-size: 18px;
}

.about-college .back-green {
  color: #fff;
  background-color: #ffde15;
}

.about-college .back-orng {
  color: #fff;
  background-color: #8cc63e;
}

.college-counter {
  background-image: url(../images/counter.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.college-counter::after {
  background: #8cc63e none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.college-counter i {
  background-color: #ffffff;
  border-radius: 50%;
  color: #ffde15;
  font-size: 40px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 20px;
  position: relative;
  width: 100px;
  z-index: 1;
  display: inline-block;
  -webkit-transition: .6s;
  transition: .6s;
}

.college-counter .fun-fact {
  text-align: center;
}

.college-counter .fun-fact .timer {
  color: #ffffff;
  font-family: "Montserrat",sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}

.college-counter .fun-fact span.medium {
  color: #ffde15;
  display: block;
  font-family: "Montserrat",sans-serif;
  font-size: 40px;
  margin-top: 20px;
  font-weight: 600;
}

.college-counter .counter-part i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: #ffde15;
  color: #fff;
}

.course-card-main {
  -webkit-box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.08);
          box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.08);
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px;
  color: #000;
  position: relative;
}

.course-card-main img {
  width: 100%;
  max-height: 500px;
  border-radius: 5px;
  position: relative;
}

.course-card-main .new-course-cotent {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 0px 5px 5px 0;
}

.course-card-main i {
  color: #8cc63e;
  padding-left: 5px;
}

.course-card-main::before {
  content: '';
  position: absolute;
  z-index: 9;
  width: 10px;
  height: 10px;
  top: -1px;
  right: -1px;
  border-left: 108px solid transparent;
  border-top: 109px solid #8cc63e;
  overflow: hidden;
}

.course-card-main .new {
  position: absolute;
  top: 12px;
  right: 1px;
  color: #fff;
  z-index: 99999;
  font-size: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-family: "Harmattan", sans-serif;
}

.more-text a {
  color: #ffde15;
  text-decoration: underline;
  font-weight: bolder;
  font-family: "Harmattan", sans-serif;
  font-size: 20px;
}

.course-card {
  -webkit-box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.08);
          box-shadow: -2px 6px 18px 3px rgba(0, 0, 0, 0.08);
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px;
  color: #000;
}

.course-card h5 {
  font-family: "Amiri", serif;
}

.course-card .number-students {
  font-family: "Harmattan", sans-serif;
  color: #ccc;
}

.course-card p {
  font-family: "Harmattan", sans-serif;
  color: #ccc;
  margin-bottom: 0;
}

.course-card i {
  color: #8cc63e;
  padding-left: 5px;
  -webkit-transition: .6s;
  transition: .6s;
}

.course-card img {
  -webkit-transition: .6s;
  transition: .6s;
  width: 120px;
  height: 120px;
  border-radius: 0 5px  5px 0;
}

.course-card:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.course-card:hover img {
  opacity: .7;
}

.about-section h4, .about-section h5 {
  font-family: "Amiri", serif;
  font-size: 30px;
  font-weight: bold;
}

.about-section p {
  font-family: "Harmattan", sans-serif;
  font-size: 20px;
}

.about-section span.anout-number {
  width: 100px;
  height: 100px;
  background: #ffde15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #fff;
  float: left;
  margin-right: 32px;
}

.new-servive-container {
  height: 420px;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.6s cubic-bezier(0.3, 0.58, 0.55, 1);
  transition: all 0.6s cubic-bezier(0.3, 0.58, 0.55, 1);
}

.new-servive-container:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0)), to(rgba(15, 15, 15, 0.75)));
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
  -webkit-transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  opacity: 0;
}

.new-servive-container .inner-wrap:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0)), to(rgba(15, 15, 15, 0.75)));
  background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.75) 100%);
  -webkit-transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.new-servive-container .overflow-inner {
  padding: 0;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header-wrap h2 {
  color: #fff;
  font-family: "Amiri", serif;
}

.new-servive-container .inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 20px;
}

.overflow-inner .header-wrap {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  position: relative;
  z-index: 2;
  -webkit-transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), -webkit-transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), -webkit-transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), -webkit-transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  max-width: 80%;
}

.overflow-inner .header-wrap i {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.hover-content {
  color: #fff;
  opacity: 0;
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: calc(100% - 40px);
  -webkit-transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1), -webkit-transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1), -webkit-transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1), transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1), transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1), -webkit-transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  text-transform: capitalize;
  font-family: "Amiri", serif;
}

.par1 {
  background-image: url(../images/1.jpg);
}

.par2 {
  background-image: url(../images/2.jpg);
}

.par3 {
  background-image: url(../images/3.jpg);
}

.par4 {
  background-image: url(../images/4.jpg);
}

.new-servive-container:hover {
  -webkit-box-shadow: 0 25px 55px rgba(0, 0, 0, 0.22);
          box-shadow: 0 25px 55px rgba(0, 0, 0, 0.22);
}

.new-servive-container:hover:before {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 69, 255, 0)), to(#fb7813));
  background-image: linear-gradient(180deg, rgba(0, 69, 255, 0) 0%, #fb7813 100%);
  opacity: 1;
}

.new-servive-container:hover .inner-wrap:before {
  opacity: 0;
}

.new-servive-container:hover .hover-content {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s, -webkit-transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s, -webkit-transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s, transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s, transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s, -webkit-transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
}

.new-servive-container:hover .header-wrap {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  margin-bottom: 25px;
}

.heading h4 {
  font-family: "Amiri", serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.line {
  background: url(../images/line.png) no-repeat center center;
  width: 100%;
  height: 23px;
  margin: 5px 0 10px;
  background-size: 30%;
  background-: no-repeat;
}

footer {
  background-color: #fcb040;
}

footer .footer-message {
  color: #fff;
  padding: 20px 0;
  font-family: "Amiri", serif;
  font-weight: bold;
}

footer .footer-message h4 {
  font-size: 38px;
}

footer .footer-message p {
  font-size: 20px;
}

footer .main-footer {
  background-color: #2e2d2a;
}

footer .footer-info h4 {
  color: #ffde15;
  font-family: "Amiri", serif;
  margin-bottom: 20px;
}

footer .footer-info p {
  -webkit-transition: .6s;
  transition: .6s;
  color: #fff;
  font-family: "Harmattan", sans-serif;
  font-weight: bold;
}

footer .footer-info p a {
  color: #fff;
}

footer .footer-info p a:hover {
  text-decoration: underline;
  color: #ffde15;
}

footer .footer-info p i {
  padding: 0 10px;
  color: #ffde15;
}

footer .social-footer {
  text-align: center;
}

footer .social-footer i {
  color: #ffde15;
  padding: 0 12px;
  font-size: 25px;
  -webkit-transition: .7s;
  transition: .7s;
}

footer .social-footer i:hover {
  color: #fff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

footer hr {
  border-color: #8cc63e;
}

footer .copyright p {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: "Harmattan", sans-serif;
  padding-bottom: 15px;
}

footer .copyright p a {
  color: #ffde15;
  font-weight: bold;
}

@media screen and (max-width: 668px) {
  .mobile-nav {
    display: block;
  }
  .mobile-nav .nav-head {
    background-color: #fff;
    padding: 10px 30px;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
  }
  .mobile-nav .logo {
    width: 77px;
    height: 63px;
  }
  .mobile-nav .mobile-nav-content {
    position: fixed;
    top: 0;
    right: -1000px;
    background-color: white;
    z-index: 9999999999999999999;
    width: 100vw;
    -webkit-transition: 1s;
    transition: 1s;
    height: 80vh;
  }
  .mobile-nav .mobile-nav-content li {
    padding: 15px;
    font-family: "Amiri", serif;
    font-size: 20px;
    font-weight: bold;
  }
  .mobile-nav .mobile-nav-content li a {
    text-decoration: underline;
    color: #000;
  }
  .home-img .home-text {
    width: 61%;
    right: 0%;
    font-size: 30px;
  }
  .desctop-nav {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */