
@media screen and (max-width: 668px) {
   .mobile-nav{
       display: block;
       .nav-head {
    background-color: #fff;
    padding: 10px 30px;
    font-size: 25px;
border-bottom: 1px solid #ccc;

}
.logo{
 width: 77px;
    height: 63px;
}
.mobile-nav-content {
    position: fixed;
    top: 0;
    right: -1000px;
    background-color: white;
    z-index: 9999999999999999999;
    width: 100vw;
    transition: 1s;
    height: 80vh;
    li{
        padding: 15px;
        
        font-family:$main-font ;
        font-size: 20px;
        font-weight: bold;
        a{
            text-decoration: underline;
            color: #000;
        }
    }
   
}


   }

   .home-img{
  .home-text{
     width: 61%;
    right: 0%;
    font-size: 30px;
}
} 

   .desctop-nav{
       display: none;
   }
   .last-footer{
       flex-direction: column;
       .copyright{
           margin:20px 0;
       }
   }

}
@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }
}
